<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projet1A.And6a"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/logo_v_1_1"
        android:label="@string/app_name" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".TabsActivity" />
        <activity android:name=".LoginActivity" >
        </activity>
        <activity android:name=".ContactsListActivity" />
        <activity android:name=".MentionActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".ContactCardActivity"></activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".OptionActivity"></activity>
    </application>

</manifest>